[submodule "modules/picking"]
	path = modules/picking
	url = bb:elax/fa-to-mop.git
[submodule "modules/textcart"]
	path = modules/textcart
	url = git@bb:elax/fa-textcart.git
[submodule "modules/order_line_extra"]
	path = modules/order_line_extra
	url = git@bb:elax/fa-order_line_extra.git
[submodule "modules/stock_audit"]
	path = modules/stock_audit
	url = git@bb:elax/fa-stock_audit.git
[submodule "modules/rep_customer_statement_account"]
	path = modules/rep_customer_statement_account
	url = git@bb:elax/fa-customer-account-statement-rep.git
[submodule "modules/rep_tax"]
	path = modules/rep_tax
	url = bb:elax/fa-rep_tax
